.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  width: 200px;
  display: flex;
  height: 200px;
  font-size: x-large;
  text-align: center;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.box:hover {
  transform: scale(1.03);
  cursor: pointer;
}

#box2 {
  background-color: rgb(155, 227, 147);
}

#box3 {
  background-color: rgb(67, 220, 154);
}

#box4 {
  background-color: rgb(98, 170, 87);
}

#box5 {
  background-color: rgb(53, 186, 111);
}

#box6 {
  background-color: rgb(159, 216, 160);
}

#box7 {
  background-color: rgb(170, 227, 135);
}

#box8 {
  background-color: rgb(115, 182, 118);
}

#box9 {
  background-color: rgb(81, 209, 124);
}

#box10 {
  background-color: rgb(71, 216, 153);
}

#box11 {
  background-color: rgb(96, 244, 200);
}

#box12 {
  background-color: rgb(69, 154, 140);
}

#box13 {
  background-color: rgb(6, 142, 119);
}

h1 {
  text-align: center;
  font-size: 150px;
}
